[options]
# Database
db_host = {{ hostvars[postgres_hostname].ansible_default_ipv4.address if postgres_hostname else 'false' }}
db_user = {{ odoo_user }}
db_password = {{ odoo_user_postgres_password }}
# dbfilter = ^%d$
# list_db = False

; Log parameter
log_level = info

; Resources limitation
workers = 2
;limit_memory_soft = 364748365
;limit_memory_hard = 464748365

; Instance parameter
http_port = {{odoo_version}}69
longpolling_port = {{odoo_version}}72
data_dir = {{env_path}}/data
without_demo = all
admin_passwd = {{admin_passwd}}
proxy_mode = True

addons_path = {{env_path}}/odoo/addons,
                {{env_path}}/odoo/odoo/addons,
