[Unit]
Description=odoo{{odoo.version}}_stage
After=network.target

[Service]
Type=simple
SyslogIdentifier=odoo{{odoo.version}}
PermissionsStartOnly=true
User=odoo{{odoo.version}}
Group=odoo{{odoo.version}}
WorkingDirectory={{env_path}}
ExecStart=/opt/odoo{{odoo.version}}/venv/bin/python /opt/odoo{{odoo.version}}/odoo/odoo-bin -c /opt/odoo{{odoo.version}}/etc/stage.conf
StandardOutput=journal
Restart=always
RestartSec=90

[Install]
WantedBy=multi-user.target
